{% extends 'customer/layout.html' %}

{% block title %}
- Home
{% endblock %}

{% block main %}
    <h1>To Do List</h1>

    <table class="table table-striped">
        <thead>
            <th>Date</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Reason</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for i in items %}
            <tr>
                <td>{{ i.date }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.tel }}</td>
                <td>{{ i.brand }}</td>
                <td>{{ i.model }}</td>
                <td>{{ i.reason }}</td>
                <td><a href="{% url 'finished' i.id %}"><span class="material-symbols-outlined">task_alt</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

